button {
  background-color: #393939;
  color: white;
  border: none;
  padding: 10px 18px;
  margin: 5px;
  font-size: 1.2rem;
  font-family: "Unbounded", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #363534;
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.tab-buttons button.active {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
